
# ignore these folders
/.idea
/.eggs
/basicsr.egg-info
/logs
/ptlflow_logs
/results
/tb_logger
/wandb

/data
/input
/output
/temp
/wandb
/venv
/cache
/my
/experiments
/deblur_results

**/.ipynb_checkpoints/
.vscode/
.idea
.vscode/


# ignore these types
*.pyc
*.out
*.log
*.mexa64
*.pdf
*.tar
*.bin
*.png
*.npy
*.pth

event_data_vis.ipynb
event_score.ipynb
scores.ipynb
basicsr/utils/options.py

event_data_analysis.ipynb