
# ignore these folders
/.idea
/.eggs
/basicsr.egg-info
/logs
/ptlflow_logs
/results
/tb_logger
/wandb

/data
/input
/output
/temp
/wandb
/venv
/cache
/my

**/.ipynb_checkpoints/
.vscode/
.idea
.vscode/


# ignore these types
*.pyc
*.out
*.log
*.mexa64
*.pdf
*.tar
*.bin
*.png
*.npy
*.pth

basicsr/version.py

